@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_panels.scss";
@import "./variables.scss";
@import "./skeleton-custom.scss";
@import "./dialog.scss";
@import "./messagecontainer.scss";
@import "./print.scss";

@media (#{$bp-smaller-than-phablet}) {}
@media (#{$bp-smaller-than-tablet}) {}
@media (#{$bp-smaller-than-desktop}) {}

//Your custom app styles
.example-page {
    margin: auto;
    padding: 50px;
    width: 60%;
    text-align: center;
}

.checkbox-label { padding: 10px; }

.hidden { display: none; }

.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-green { color: #2fa000; }
.text-blue { color: #0076a0; }

.positive { background-color: $color-success; }
.negative { background-color: $color-danger; }
.bold { font-weight: bold; }
.no-border { border: 0 !important; }
.wrap-content { overflow: auto; }

input, select {
    &.error:not(:focus) {
        border-color: $color-danger;
    }
}

button, a.button {
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container {
    button,
    .button {
        margin-left: 6px;
    }
}

.list-striped {
    li {
        &:nth-child(odd) {
            background-color: #efefef;
        }
    }
}

.list-selectable {
    li:not(.list-header) {
        cursor: pointer;
        &:hover {
            background-color: #eee;
        }
    }
}

.list-header {
    font-weight: bold;
}

.icon-button {
    cursor: pointer;
    vertical-align: middle;

    &:hover {
        font-weight: bold;
    }
}

.list-text-cell {
    display: inline-block;
    width: 80%;
}

.list-icon-cell {
    display: inline-block;
    width: 20%;
}

option.current {
    font-style: italic;
    color: #888;
}

.flag {
    width: 16px;
    height: 11px;
    background:url('../img/flags.png') no-repeat;
    display: inline-block;

    &.fi { background-position: -16px 0 }
    &.en { background-position: 0 -11px }
}

/**
 * Splitted input/button
 */
.split-button {
    display: table;
    position: relative;
    border-collapse: separate;

    &>* {
        display: table-cell;
    }

    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
    }

    .button-container {
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
    }

    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;
    }
}

/**
 * Home page
 *
 *
 */
.settings-button.active {
    background-color: #eee;
    box-shadow: inset 1px 1px 6px #bbb;
}

#app-description {
    color: $dark-grey;
}

/**
 *  Participants page
 *
 *
 */
.participants-page {
    form {
        margin-top: 2rem;
    }
}

#participants-list {

    margin-bottom: 1.5rem;

    .fa-user {
        margin-right: 4px;
    }
}

/**
 *  Expenses page
 *
 */
.shares-section-container {
    display: none;
}

/**
 * Summary page
 */

#summary-page {
    h2 {
        font-size: 3rem;
    }
}

#summary-date {
    margin-bottom: 1.5rem;
}

/**
 * Navigation
 */

nav a.button:hover {
    color: $color-link-hover;
    border-color: $color-link-hover;
}

/**
 * Footer
 */
footer {
    .flag {
        margin-right: .4rem;
        cursor: pointer;
    }
}

/**
 * Media queries
 */
@media (#{$bp-larger-than-mobile}) {
    .mobile-only {
        display: none;
    }
}
@media (#{$bp-larger-than-tablet}) {
    .no-desktop {
        display: none;
    }
}

@media (#{$bp-larger-than-desktop}) {
    .shares-section-container {
        display: inline;
    }
}

@media (#{$bp-smaller-than-tablet}) {

    .no-mobile {
        display: none;
    }

    .modal-dialog .button-container button {
        width: 100%;
    }
}

@media (#{$bp-smaller-than-desktop}) {
    .expenses-list {
        width: 100% !important;
    }

    .desktop-only {
        display: none;
    }

    button {
        padding: 0 6px;
    }
}
