@media print {
    body {
        font-family: Arial, sans-serif;
    }

    * {
        background-color: none !important;
    }

    nav, header, footer {
        display: none;
    }

    .collapse {
        display: block;
    }
}
